nav {
    .nav > li {
        position: relative;
        &:after {
            content: " ";
            background: theme-color('primary');
            display: block;
            height: 16px;
            position: absolute;
            top: 12px;
            left: 0px;
            width: 2px;
        }
    }
}